@use 'sass:color';
$primary-color: #4db4f9;
$padding: 1rem;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  background-color: $primary-color;
  margin: 0;
  padding: 0;

  .container {
    background: white;
    padding: $padding;
    border: 1px solid #ddd;

    h1 {
      color: $primary-color;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 2rem;
      line-height: 1.5;
    }

    .btn {
      @include center;
      background: $primary-color;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 5px;

      &:hover {
        background: color.adjust($primary-color, $lightness: -10%); 
      }
    }
  }
}
