* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Garamond (serif);
}

body {
  margin: 0;
  margin-bottom: 50px;
}


form{
  margin: 50px;
}

.number-of-apartments{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
